.ListDiscountCode {
    padding: 20px;
    min-height: 100vh;
  }
  
  .ListDiscountCodeCointainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .btndiscount{
    display: flex;
    gap: 10px;
  }
  .ListDiscountCodeCointainer h2 {
    font-size: 28px;
    color: #1ABC9C;
    font-weight: bold;
  }
  
  .ListDiscountCodeCointainerBtn {
    background-color: #1ABC9C;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .ListDiscountCodeCointainerBtn:hover {
    background-color: #08846b;
  }
  
  .MuiDataGrid-root {
    background-color: white;
    border-radius: 10px;
  }
  
  .MuiDataGrid-columnHeaders {
    background-color: #f0f0f0;
  }
  
  .MuiDataGrid-cell {
    color: #1ABC9C;
  }
  
  .btndiscountcode {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .btndiscountcode:hover {
    background-color: #ff3333;
  }
  