.ListDiscountCodeCointainer h1{
    margin: 15px;
    color: gray;
}
.ListDiscountCodeCointainer{
    display: flex;
    gap: 600px;
    align-items: center;
}
.ListDiscountCodeCointainerBtn{
    border-radius: 7px;
    border: 1px solid black;
    padding: 10px;
    color: gray;
}
.ListDiscountCodeCointainerBtn:hover{
    background-color: rgba(128, 128, 128, 0.503);
    color: white;
}