.userProfile {
  width: 100%;
  max-width: 700px;
  height: 650px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.userProfile form {
  display: flex;
  flex-direction: column;
}

.userProfile label {
  margin-bottom: 10px;
}

.userProfile input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.userProfile .userInfo {
  display: flex;
  flex-direction: column;
 
}

.userProfile .userImg {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center; 
  border-radius: 5%;
  margin-bottom: 10px;
  align-items: center; 
  margin-left: 200px;
}


.userProfile button {
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #f01ccdab;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.userProfile button:hover {
  background-color: #8e1379ab;
}

.userProfile .errorMessage {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

.userProfile .successMessage {
  color: #28a745;
  font-size: 14px;
  margin-top: 5px;
}
