.bookingStatistics {
  padding: 20px;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.hehhe {
  color: rgb(238, 51, 216);
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.statItem {
  flex: 1 1 calc(50% - 20px);
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.statItem:hover {
  transform: translateY(-5px);
}

.statItem h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

.statItem p {
  font-size: 1.2em;
  color: #ff0000; /* Adjust text color for emphasis */
}

.statItem ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.2em;
  color: #ff0000; /* Adjust text color for emphasis */
}

.statItem ul li {
  margin-bottom: 5px;
}

.chartContainer {
  max-width: 100%;
  height: 250px; /* Reduced height for charts */
}
