.newBooking {
    display: flex;
    width: 100%;
  }
  
  .newBookingContainer {
    flex: 6;
    padding: 20px;
  }
  
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .bottom {
    display: flex;
    margin-top: 20px;
  }
  
  .right {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .formInput {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .formInput > label {
    display: block;
    margin-bottom: 5px;
    color: gray;
  }
  
  .formInput > input {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #51AEAA;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #51AEAA;
  }
  