/* Admin Navbar Styles */
.navbar {
  height: 50px;
  background-color: white; /* Same as client navbar background */
  display: flex;
  align-items: center;
  justify-content: center; /* Centered content */
  border-bottom: 0.5px solid rgb(231, 228, 228); /* Matching border */
  font-size: 14px;
  color: #555;
}

.navContainer {
  width: 100%;
  max-width: 1024px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500; 
  color: #333; 
}

.navItems {
  display: flex;
  align-items: center;
}

.navButton {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  border-radius: 40px; 
  background-color: #e92bc94d;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  white-space: nowrap;
}

.navButton:hover {
  background-color: #d1219e;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userImg {
  width: 75px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #e92bc9; 
}

.username {
  margin-right: 10px;
}


.navbar .wrapper {
  width: 100%;
  max-width: 1024px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .wrapper .search {
  display: flex;
  align-items: center;
  border: 0.5px solid lightgray;
  padding: 3px;
}

.navbar .wrapper .search input {
  border: none;
  outline: none;
  background: transparent;
}

.navbar .wrapper .search input::placeholder {
  font-size: 12px;
}

.navbar .wrapper .auth-buttons {
  display: flex;
  align-items: center;
}

.navbar .wrapper .auth-buttons button {
  background-color: #e92bc94d; 
  border: none;
  color: white;
  padding: 5px 10px; 
  margin-left: 10px;
  cursor: pointer;
  border-radius: 40px;
  transition: background-color 0.3s ease;
}

.navbar .wrapper .auth-buttons button:hover {
  background-color: #d1219e; 
}
.logoutButton
{
  background-color: #d1219f9e; 
}