.home {
  display: flex;
}

.home .homeContainer {
  flex: 6;
}

.home .homeContainer .widgets,
.home .homeContainer .charts {
  display: flex;
  padding: 20px;
  gap: 20px;
}
.home .addNewButtonContainer {
  display: flex;
  flex-wrap: wrap; /* Cho phép các nút xuống dòng nếu vượt quá chiều rộng của container */
  gap: 10px; /* Khoảng cách giữa các nút */
  margin-bottom: 20px; /* Khoảng cách dưới container chứa nút */
}

.addNewButton {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease; /* Smooth background color transition */
  white-space: nowrap; /* Prevent button text from wrapping */
}

.addNewButton.hotel {
  background-color: #e92bc98f; /* Custom color for hotels */
}

.addNewButton.rooms {
  background-color: #8b99b8; /* Custom color for rooms */
}

.addNewButton.discounts {
  background-color: #fcbf77; /* Custom color for discounts */
}

.addNewButton.notifications {
  background-color: #6a1b9a; /* Custom color for notifications */
}

.addNewButton.bookings {
  background-color: #ff6f61; /* Custom color for bookings */
}

.addNewButton.users {
  background-color: #42a5f5; /* Custom color for users */
}

.addNewButton:hover {
  opacity: 0.9; /* Slightly reduce opacity on hover for a better effect */
}

.home .homeContainer .listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
}

.home .homeContainer .listContainer .listTitle {
  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
}
