.roomlist-container {
  display: flex;
}

.roomlist-content {
  flex: 6;
  padding: 20px;
  border-radius: 8px;
  margin-left: 20px;
  height: 100vh;
  overflow: auto;
}

.roomlist-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.roomlist-content h2 {
  font-size: 24px;
  color: #1ABC9C;
  font-weight: bold;
}

.roomlist-content h3 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
}
.btnroom{
  display: flex;
  gap: 10px;
}
.ListRoomCointainerBtn {
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #1ABC9C;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center;
  height: 40px;
  line-height: 40px;
  display: inline-block;
}


.ListRoomCointainerBtn:hover {
  background-color: #08846b;
  color: white;
}

.MuiDataGrid-root {
  background-color: white;
  border-radius: 10px;
}

.MuiDataGrid-columnHeaders {
  background-color: #e3f2fd;
}

.MuiDataGrid-cell {
  color: #333;
}

.btnmmm {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.btnmmm:hover {
  background-color: #08846b;
}

.cellAction {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.viewButton {
  background-color: #51aeaa;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.viewButton:hover {
  background-color: #16dcd2;
}

.deleteButton {
  background-color: #08846b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.deleteButton:hover {
  background-color: #ff3333;
}
