
.roomlist-container {
    display: flex;
  }
  
  .roomlist-content {
    flex: 6;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    height: 100vh;
    overflow: auto;
  }
  .ListRoomCointainerBtn{
    border-radius: 7px;
    border: 1px solid black;
    padding: 10px;
    color: gray; 
    height: 30px;
}
.roomlist-content-header{
  display: flex;
  gap: 700px;
  align-items: center;
 margin-bottom: 20px;
}
.ListRoomCointainerBtn:hover{
    background-color: rgba(128, 128, 128, 0.503);
    color: white;
}
  .roomlist-content h3 {
    color: gray;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .cellAction {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .viewButton {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: #51AEAA;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .viewButton:hover {
    background-color: #16dcd2;
  }
  
  .deleteButton {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: #51AEAA;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .deleteButton:hover {
    background-color: #3bcfc7;
  }
  