.ListHotel {
     padding: 20px;
     min-height: 100vh;
   }
   
   .ListHotelCointainer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
   }
   
   .ListHotelCointainer h2 {
     font-size: 28px;
     color: #1ABC9C;
     font-weight: bold;
   }
   .btnhotels{
    display: flex;
    gap: 10px;
  }
   .ListHotelCointainerBtn {
     background-color: #1ABC9C;
     color: white;
     padding: 12px 20px;
     border-radius: 8px;
     border: none;
     cursor: pointer;
     font-size: 16px;
     transition: background-color 0.3s ease;
   }
   
   .MuiDataGrid-root {
     background-color: white;
     border-radius: 10px;
   }
   
   .MuiDataGrid-columnHeaders {
     background-color: #e3f2fd;
   }
   
   .MuiDataGrid-cell {
     color: #333;
   }
   
   .btnhotels{
     color: white;
     border: none;
     border-radius: 5px;
     padding: 8px 16px;
     cursor: pointer;
   }
   .ListHotelCointainerBtn:hover{
    background-color: #10836c;
   }
   img {
     border-radius: 5px;
     object-fit: cover;
   }
   