.bookingStatistics {
  background-color: #f5f7fa;
  color: #2d3436;
  padding: 2.5rem;
  border-radius: 12px;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.bookingStatistics h1 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 2.8rem;
  font-weight: bold;
  color: #1ABC9C;
}

.datePickerContainer {
  display: flex;
  margin-bottom: 2.5rem;
  padding: 0 3rem;
  gap: 250px;
}
.datePickerContainerstart
{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.datePickerContainerend {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.datePickerContainerstart label,
.datePickerContainerend label
{
  
  font-size: 1.4rem;
  color: #1ABC9C;
  margin-right: 1.2rem;
}
.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin-top: 2.5rem;
}

.statItem {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  color: #2c3e50;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.statItem:hover {
  transform: translateY(-5px);
}

.statItem h2 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  color: #1ABC9C;
}

.statItem p {
  font-size: 2rem;
  font-weight: bold;
  color: #e74c3c;
}

.chartContainer {
  height: 320px;
}

.statItem ul {
  margin-top: 1.2rem;
  list-style-type: none;
  padding: 0;
}

.statItem ul li {
  background-color: #ecf0f1;
  margin-bottom: 0.7rem;
  padding: 0.8rem;
  border-radius: 8px;
  color: #1ABC9C;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .stats {
      grid-template-columns: 1fr;
  }

  .datePickerContainer {
      flex-direction: column;
      gap: 1.5rem;
  }
}
