.listBookingWrapper {
    padding: 20px;
}

.listBookingHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.listBookingTitle {
    margin: 0;
    color: #333;
    font-size: 24px;
}

.addBookingButton {
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addBookingButton:hover {
    background-color: #0056b3;
}

.deleteBookingButton {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.deleteBookingButton:hover {
    background-color: #c82333;
}
