.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://d1hjkbq40fs2x4.cloudfront.net/2021-10-28/files/pink-purple-landscape-colours_2186-01.jpg) no-repeat center center/cover;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 400px;
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  align-items: center;
  text-align: center;
}

.navbar11 {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-weight: 600;
  color: #e92bc9;
  font-size: 1.5em;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  border-radius: 30px;
  background-color: #e92bc9;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: #d21fa8;
}

.lInput {
  margin-top: 10px;
  height: 40px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
}

.lButton {
  margin-top: 20px;
  border: none;
  padding: 15px 30px;
  background-color: #e92bc9;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.lButton:hover {
  background-color: #d21fa8;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}

h1 {
  font-size: 2.5em;
  color: white;
  margin-bottom: 20px;
}

.forget {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forget a:hover {
  color: #ffffff;
}
.forgotPasswordLink
{
  color: #ffffff; 
}