.single .singleContainer .top .left {
  flex: 1;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
}

.single .singleContainer .top .left .editButton {
  padding: 8px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #dc2be9;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  margin-bottom: 10px; /* Tạo khoảng cách giữa các nút */
}

.single .singleContainer .top .left .editButton:last-of-type {
  margin-bottom: 0; /* Đảm bảo không có khoảng cách dưới cùng cho nút cuối cùng */
}

.single .singleContainer .top .left .editButton:hover {
  background-color: #b61ab3; /* Màu sắc khi di chuột qua nút */
}

.single .singleContainer .top .left .item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.single .singleContainer .top .left .item .itemImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #dc2be9;
}

.single .singleContainer .top .left .item .details {
  display: flex;
  flex-direction: column;
}

.single .singleContainer .top .left .item .details .itemTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.single .singleContainer .top .left .item .details .detailItem {
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}

.single .singleContainer .top .left .item .details .detailItem .itemKey {
  font-weight: bold;
  color: #333;
  margin-right: 5px;
}

.single .singleContainer .top .left .item .details .detailItem .itemValue {
  font-weight: 400;
  color: #777;
}

.single .singleContainer .title {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
  border-bottom: 2px solid #dc2be9;
  padding-bottom: 10px;
  display: inline-block;
}

.single .singleContainer .bottom {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin: 10px 20px;
}
