/* .resetPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa; 
  }
  
  .rpContainer {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .rpInput {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .rpButton {
    padding: 10px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .rpButton:hover {
    background-color: #0056b3; 
  }
   */


   .resetPassword{
    width: 100%;
    display: flex;
    justify-content: center;
   }
   .rpContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    margin-top: 100px;
     border-radius: 20px;
    border: 1px solid rgb(170, 170, 170);
   }
   .rpContainer h1{
     font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
   }
   .rpContainer input{
       padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
   }
   .rpContainer input ::placeholder{
    font-size: 16px;
    color: black;
   }

    .rpButton{
      background: rgb(68, 68, 255);
      padding: 10px;
      border-radius: 10px;
      border: none;
      font-size: 16px;
      color: white;
      font-weight: 600;
    }
    .rpButton:hover{
      background: rgb(57, 57, 226);
    }