.ListNotificationDashboard h2{
    margin: 15px;
    color: gray;
    
}
.ListNotificationCointainerDashboard{
    display: flex;
    gap: 660px;
    align-items: center;
}
.ListNotificationCointainerBtnDashboard{
    border-radius: 7px;
    border: 1px solid black;
    padding: 10px;
    color: gray;
}
.ListNotificationCointainerBtnDashboard:hover{
    background-color: rgba(128, 128, 128, 0.503);
    color: white;
}

/* .btnnoti:hover{
    background: rgb(135, 25, 25);
} */