.NavBar {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
}

.NavBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBarContainerLeft {
    display: flex;
    align-items: center;
    gap: 12px;
}

.NavBarLogo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.NavBarInputSearch {
    flex: 1;
    display: flex;
    justify-content: center;
}

.NavBarRight {
    display: flex;
    align-items: center;
    gap: 20px;
}

.NavBarNotification {
    position: relative;
    cursor: pointer;
}

.NavBarProfile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.NavBarUserImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbarbutton {
    background-color: #1ABC9C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.navbarbutton:hover {
    background-color: #08846b;
}
