.ListUserContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
  }
  
  .ListUserContainer h1 {
    color: #1ABC9C;
  }
  
  .ListUserContainerBtn {
    display: inline-block;
    border-radius: 7px;
    background-color: #1ABC9C;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  .btnuser{
    display: flex;
    gap: 10px;
  }
  .ListUserContainerBtn:hover {
    background-color: #08846b;
    color: white;
  }
  
  .deleteButton {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: #1ABC9C;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .deleteButton:hover {
    background-color: #08846b;
  }
  