.NavBarDashboardHotel {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
}

.NavBarDashboardHotelContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBarDashboardHotelContainerLeft {
    display: flex;
    align-items: center;
    gap: 12px;
}

.NavBarDashboardHotelLogo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.NavBarDashboardHotelInputSearch {
    flex: 1;
    display: flex;
    justify-content: center;
}

.NavBarDashboardHotelRight {
    display: flex;
    align-items: center;
    gap: 20px;
}

.NavBarDashboardHotelNotification {
    position: relative;
    cursor: pointer;
}

.NavBarDashboardHotelProfile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.NavBarDashboardHotelUserImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.NavBarDashboardHotelbutton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.NavBarDashboardHotelbutton:hover {
    background-color: #0056b3;
}
